a {
  text-decoration: none;
  color: black;
}

span {
  font-size: 12px;
  padding: 1px;
}

tr {
  margin: 0;
}

.web-link {
  font-size: 12px;
  margin: 2px;
}

.normal-link {
  padding-left: 15px;
}
