<div>
  <tr align="left" style="margin-bottom: 0">
    <td style="font-size: 15px">{{index}}. <a [href]="new.url">{{new.title}}</a></td>
  </tr>
  <tr align="left" style="margin: 0;">
    <td>
      <span style="font-size: 12px;padding-left: 15px;">{{new.score}} points by {{new.by}}</span>
      <span *ngIf="isNews">|</span>
      <span *ngIf="isNews" style="font-size: 12px;margin: 2px"><a [href]="'https://www.google.com/search?q='+new.title" target="_blank">web</a></span>
    </td>
  </tr>

</div>
