<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
  <app-submission *ngFor="let s of submissions.slice(30*(page-1),30*page) let i = index" [id]="s" [index] = "30*(page-1)+i+1"
    (disable)="submissions = onDisable($event, submissions)" (listFull)="listFull = true"></app-submission>
  <tr *ngIf="ready && listFull && submissions.slice(30*page).length > 0" style="height: 10px;" align="left"><td>
    <a [routerLink]="[]" [queryParams]="{p:page+1}" routerLinkActive="active">...more</a>
  </td></tr>
  <tr *ngIf="ready" style="height: 10px;"><td></td></tr>
  <tr *ngIf="ready" style="height: 2px;"><td style="background-color: rgb(255, 102, 0);"></td></tr>
  <tr *ngIf="ready" style="height: 50px;"><td></td></tr>
  </tbody>
</table>
