<div>
  <tr align="left" style="margin: 0">
    <td style="font-size: 15px" *ngIf="submission.url === undefined"  [style.padding-left]="index < 10? '8px' : '0'">{{index}}. <a [routerLink]="['../../../comments/'+submission.id]" [routerLinkActive]="submission.url !== undefined? 'unactive':'active'"  [href]="submission.url">{{submission.title}}</a></td>
    <td style="font-size: 15px" *ngIf="submission.url !== undefined"   [style.padding-left]="index < 10? '8px' : '0'">{{index}}. <a [href]="submission.url">{{submission.title}}</a></td>
  </tr>
  <tr align="left" style="margin: 0;color: grey">
    <td>
      <span style="padding-left: 25px;">{{submission.score}} points by <a class="info-link" [routerLink]="['../']">{{submission.by}}</a></span>
      <span>|</span>
      <span style="margin: 2px"><a class="info-link" [href]="'https://www.google.com/search?q='+submission.title" target="_blank">web</a></span>
      <span>|</span>
      <span><a class="info-link" [routerLink]="['../../../comments/'+submission.id]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{discuss}}</a></span>
    </td>
  </tr>
</div>
